.p1{
    color: blue;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 0px;
}
.span{
    color: green;
     font-size: 25px;

}
.dot{
    color: black;
}
.h1{
    margin: 0;
}
.div{
    margin-top: 20px;
}